<footer style="width: 100%">
  <div class="ysxfooter">
    <div class="ysxfooter-top">
      <div class="ysxfooter-top-div">
        <div class="">
          <i class="iconfont icon-shipinanquanicon"></i>
        </div>
        <div class="">
          <p class="">食品安全</p>
          <p class=""><span>精选生鲜</span> <span>严格质检</span></p>
        </div>
      </div>
      <div class="ysxfooter-top-div">
        <div class="">
          <i class="iconfont icon-quanchenglenglian"></i>
        </div>
        <div class="">
          <p class="">全程冷链</p>
          <p class=""><span>自营物流</span> <span>安全可控</span></p>
        </div>
      </div>
      <div class="ysxfooter-top-div">
        <div class="">
          <i class="iconfont icon-yudashuye"></i>
        </div>
        <div class="">
          <p class="">鲜活天然</p>
          <p class=""><span>绿色生态</span> <span>京东精选</span></p>
        </div>
      </div>
      <div class="ysxfooter-top-div">
        <div class="">
          <i class="iconfont icon-cailanzi-"></i>
        </div>
        <div class="">
          <p class="">产地直采</p>
          <p class=""><span>限定产源</span> <span>质量保证</span></p>
        </div>
      </div>
      <div class="ysxfooter-top-div">
        <div class="">
          <i class="iconfont icon-shouhou"></i>
        </div>
        <div class="">
          <p class="">无忧售后</p>
          <p class=""><span>优鲜赔偿</span> <span>售后通道</span></p>
        </div>
      </div>
    </div>
    <div class="ysxfooter-center">
      <div class="">
        <img src="../../assets/imgs/59828144Ne86ec759.png" alt="">
        <p class="">亿成优生鲜订阅号</p>
      </div>
      <div class="">
        <img src="../../assets/imgs/59828143N265c67e7.png" alt="">
        <p class="">亿成优生鲜服务号</p>
      </div>
      <div class="">
        <h3>购物指南</h3>
        <p class="">购物流程</p>
        <p class="">支付方式</p>
        <p class="">售后规则</p>
      </div>
      <div class="">
        <h3>配送方式</h3>
        <p class="">配送运费</p>
        <p class="">配送范围</p>
        <p class="">配送时间</p>
      </div>
      <div class="">
        <h3>商家服务</h3>
        <p class=""> 平台规则</p>
        <p class="">商家入驻</p>
        <p class="">联系我们</p>
      </div>
      <div class="">
        <h3>在线客服</h3>
        <p class="">客服电话  0530-8015001</p>
        <p class="">服务时间  09:00-24:00</p>
        <p class="">反馈QQ  1574408801</p>
      </div>
    </div>
    <div class="ysxfooter-bottom">
      <p class="">Copyright © 2014-2018 YC 版权所有</p>
    </div>
  </div>
</footer>
