<header class="index-header">
  <div class="header-nav">
      <ul>
        <li>
          <a routerLink="MyOrder">我的订单</a>
        </li>
        <li>
          <a routerLink="ShoppingCart">购物车</a>
        </li>
        <li>
          <a routerLink="MyYC">我的亿成</a>
        </li>
        <li>
          <a routerLink="Login">登录</a>
        </li>
        <li>
          <a routerLink="Register">注册</a>
        </li>
        <li>
          <a routerLink="/">主页</a>
        </li>
      </ul>
  </div>
  <div class="ysxheader">
    <div class="ysxheader-logo">
      <h1 class="">亿成生鲜</h1>
    </div>
    <div class="ysxheader-search">
      <div class="ysxheader-search-left">
        <form action="" method="get">
          <input type="text" placeholder=新鲜鸡腿>
        </form>
      </div>
      <div class="ysxheader-search-right">
        <button type="button">
          <i class="iconfont icon-sousuo"></i>
        </button>
      </div>
    </div>
    <div class="ysxheader-shoppingCart">
        <i class="iconfont icon-gouwuche1"></i>
        <span class="myCart">购物车</span>
      <div class="">
        <span class="goodsNumber">0</span>
      </div>
    </div>
    <div class="ysxheader-ewm">
      <img src="../../assets/imgs/qrcode_25x25.png" alt="">
      <span>扫码有优惠</span>
    </div>
  </div>
</header>
