@import "../../assets/sass/base.scss";
@import "../../assets/icon/iconfont.css";
.MyOrder-bottom{
    .MyOrder-bottom-top{
      width: 95%;
      height: 50px;
      line-height: 50px;
      margin: 10px auto;
      border: 1px solid $color-F0;
      .MyOrder-bottom-top-left{
        margin-left: 20px;
        font-size: $font-size-large;

      }
      .MyOrder-bottom-top-right{
        margin-right: 20px;
        font-size: $font-size-large;

      }

    }
    .MyOrder-bottom-bottom{
      width: 95%;
      height: 400px;
      margin: 0 auto;
      border: 1px solid$color-F0;

    }
  }




@media only screen and (max-width: 480px) {
  .MyOrder-bottom{
    width: 480px;
  }
}
