<section class="YSX-MyYc">
  <div class="YSX-MyYc-top">
    <div class="top-left">
      <div class="">
        <img src="../../assets/imgs/peisong.jpg" alt="">
        <div class="">
          <label>
            <input type="file" name="touxiang" style="display: none"><br>
            <i class="iconfont icon-zhaoxiangji"></i>
          </label>
        </div>
        <button type="button">提交修改</button>
      </div>
    </div>
    <div class="top-center">
      <p class="">用户名：qiqi</p>
      <p class="">昵称：七七</p>
      <p class="">性别：女</p>
      <p class="">年龄：32</p>
      <p class="">电 话：15550739985</p>
      <p class="">邮 箱：1574408801@qq.com</p>
      <button type="button">提交修改</button>
    </div>
    <div class="top-right">
      <div class="myAddress">我的收货地址</div>
      <div class="myAddress-template">
        <div class="myAddress-template-top">
          <p class="fl">收货人</p>
          <p class="fl">地址</p>
          <p class="fl">手机</p>
          <p class="fl">操作</p>
        </div>
        <div class="myAddress-template-bottom"fl>
          <p class="fl">李鑫</p>
          <p class="fl">山东省 菏泽市 巨野县 永丰街道	健康路巨野县疾病预防控制中心西30米 助发农机西一个卷帘门	</p>
          <p class="fl">15550739985</p>
          <p class="fl">改/删</p>
          <p class="fl">默认</p>
        </div>
        <div class="myAddress-template-bottom"fl>
          <p class="fl">李鑫</p>
          <p class="fl">山东省 菏泽市 巨野县 永丰街道	健康路巨野县疾病预防控制中心西30米 助发农机西一个卷帘门	</p>
          <p class="fl">15550739985</p>
          <p class="fl">改/删</p>
          <p class="fl"></p>
        </div>
        <div class="myAddress-template-bottom"fl>
          <p class="fl">李鑫</p>
          <p class="fl">山东省 菏泽市 巨野县 永丰街道	健康路巨野县疾病预防控制中心西30米 助发农机西一个卷帘门	</p>
          <p class="fl">15550739985</p>
          <p class="fl">改/删</p>
          <p class="fl"></p>
        </div>
        <div class="myAddress-template-bottom"fl>
          <p class="fl">李鑫</p>
          <p class="fl">山东省 菏泽市 巨野县 永丰街道	健康路巨野县疾病预防控制中心西30米 助发农机西一个卷帘门	</p>
          <p class="fl">15550739985</p>
          <p class="fl">改/删</p>
          <p class="fl"></p>
        </div>
        <div class="myAddress-template-bottom"fl>
          <p class="fl">李鑫</p>
          <p class="fl">山东省 菏泽市 巨野县 永丰街道	健康路巨野县疾病预防控制中心西30米 助发农机西一个卷帘门	</p>
          <p class="fl">15550739985</p>
          <p class="fl">改/删</p>
          <p class="fl"></p>
        </div>
      </div>
    </div>
  </div>








</section>
