<section class="ysx-register">
  <img src="../../assets/imgs/banner2.jpg" alt="" class="">
  <div class="ysx-register-div">
    <div class="">
      <i class="iconfont icon-iconfonticonfontwode1"></i>
      <input type="text" placeholder="请输入4-8位账户和登录名">
    </div>
    <div class="">
      <i class="iconfont icon-mima1"></i>
      <input type="text" placeholder="建议至少使用两种字符组合密码">
    </div>
    <div class="">
      <i class="iconfont icon-mima1"></i>
      <input type="text" placeholder="请再次确认输入密码">
    </div>
    <div class="">
      <i class="iconfont icon-phone"></i>
      <input type="text" placeholder="请输入常用的手机号" class="reg_mobile" id="phone">
      <span>点击获得验证码</span>
    </div>
    <div class="">
      <i class="iconfont icon-yanzhengma1"></i>
      <input type="text" placeholder="请输入收到的验证码">
    </div>
    <div class="">
      <i class="iconfont icon-iconfontshoudaodehezuoshenqing"></i>
      <input type="text" placeholder="请输入邮箱" class="reg_email" id="email">
    </div>
    <button type="button" id="register">点击注册</button>
  </div>
</section>
